meta(charset='utf-8')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0')
meta(name='description', content='Single page app')

block title
  title Single Page App

link(rel='stylesheet', href='dist/index.css')
